on:
    release:
        types: [ published ]

jobs:
    ReleaseNPM:
        runs-on: ubuntu-latest
        environment:
            name: npmjs
        permissions:
            id-token: write
            contents: read
        steps:
            -   name: Repo checkout
                uses: actions/checkout@v6
            -   name: Set up Node.js
                uses: actions/setup-node@v6
                with:
                    node-version: '24'
                    registry-url: 'https://registry.npmjs.org'
            -   name: Set release version to package.json
                run: jq --indent 4 '.version = "${{ github.ref_name }}"' < package.json > package.json~ && mv package.json~ package.json
            -   name: NPM release
                run: npm publish --access public
    ReleasePyPI:
        runs-on: ubuntu-latest
        environment:
            name: pypi
            url: https://pypi.org/project/sigwin-infra
        permissions:
            id-token: write
        steps:
            -   name: Repo checkout
                uses: actions/checkout@v6
            -   name: Set release version to pyproject.toml
                run: sed -i 's#version = ".*"#version = "'"${{ github.ref_name }}"'"#' pyproject.toml
            -   name: Set up Python
                run: python -m pip install --upgrade poetry
            -   name: Set up Poetry
                run: poetry install --no-root
            -   name: Prepare Python package structure
                run: |
                    mkdir sigwin_infra
                    mv resources sigwin_infra/
                    touch sigwin_infra/__init__.py
                    touch sigwin_infra/resources/__init__.py
            -   name: Build package
                run: poetry build
            -   name: Publish to PyPI using Trusted Publisher
                uses: pypa/gh-action-pypi-publish@release/v1
